body {
    font-family:Roboto;
    text-align: center;
    background-color: #cca7c3;
    color: #E35F80;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Grenze Gotisch";
    font-size:50pt;
}


header {
    text-align:center;
}  

#hero, footer {
   color: #E35F80;
   border: 2px solid #D15FE3;
   background-color: #e48882;
   text-align:center;
   padding:10px;
}

#hero img {
    width:400px;
}

#bio {
    text-align:center;
}